/* BASIC STYLES HERE */
/* NOTE background-image is assigned by controller, but we want these styles to apply to it */
body {
  background-size: cover;
  background-position: center;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-card {
  color: white;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  padding: .6em 1em;
  background-color: rgba(25, 25, 25, 0.203);
  border-radius: 16px;
}

.hidden-details {
  opacity: 0;
  transition: all 1s ease-in-out;
}

/* 
.hidden-details:hover {
  opacity: 1;
} */

/* NOTE + selector is sibling selector, opacity goes back to 1 after leaving the date element */
/* .magic-date:hover+.hidden-details {
  opacity: 1;
} */

/* NOTE child selector. Only works because hidden-details class is a child of info-card */
.info-card:hover .hidden-details {
  opacity: 1;
}