<div class="container-fluid">
  <section class="row">
    <div class="col-12">
      <div class="info-card">
        <h1>THE JEWEL</h1>
        <h2>12/12/2000</h2>
        <h3>
          <span>By Dewang</span>
          <a title="Go see Dewang's profile on unsplash" href="https://unsplash.com/@dewang" target="_blank">
            <i class="mdi mdi-account-circle text-light"></i>
          </a>
        </h3>
        <p class="fs-3">A picture of a waterfall</p>
      </div>
    </div>
  </section>
</div>